<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>

        <main>
            <article class="prod-detail">
                <div class="img-container">
                    <div class="img-principal">
                        <img src = "/images/products/<%= product['img-pr'] %> ">
                    </div>

                    <div class="slider-buttons-container"> 
                        <div class="items"> 
                            <a href="#"><i class="fas fa-chevron-left"></i></a>
                        </div>
                        <div class="items">
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </div> 
                    </div>
                    
                    <% product['img-se'].forEach(img => { %>
                        <div class="img-sec">
                            <img src = "/images/products/<%=img%>">
                        </div>    
                    <% }); %> 
                    
                </div>

                <div class="product-description">
                    <p class="nombre-prod"> <%= product.name %>  </p>

                    <div class="stars">
                        <div class="score">
                            <% for( let index = 1; index <= 5; index++ ) { %>

                                <% if (index <= product.stars) { %>
                                    <i class="far fa-star" style="color: #d4b073;"></i>
                                 
                                <% }else { %>
                                    <i class="far fa-star"></i>
                                <% } %> 
                            
                            <% } %> 

                        </div>
                        <% if(product.stars == 0){ %>
                            <p>0 Reviews </p>  
                        <%}else{ %> 
                            <p> 127437 Reviews </p>
                        <%} %> 
                    </div>

                    <p class="precio"> $<%= product.price %>  </p>

                    <div class="colors"> <!-- agregar al objeto una array de colores y iterarlos con un foreach-->
                        <% product.colours.forEach(element => { %>
                            <a href="#"><i class="fas fa-circle" style="color:<%= element %>"></i></a>
                        <% }) %>
                    </div> 

                    <div class="talle">
                        <% product.sizes.forEach(element => { %>
                            <a href="#"> <p><%= element %> </p> </a> 
                        <% }) %>
                    </div>

                    <div class="guia">
                        <a href="#">Ver guia de Talles </a>
                    </div>
                    
                    <div class="cantidad">
                        <form action="/" method="POST">
                            <label for="cant">
                                Cantidad: 
                            </label>
                            <input type="number" id="cant" name="cant" min="1" value="1">
                        </form>
                    </div>

                    <div class="carrito">
                        <a href="#">Agregar a carrito</a>
                    </div>
                    <div class="locales">
                        <a href="#">Ver locales donde esta disponible el producto</a>
                    </div>   

                    <div class = "description">
                        <p class="title"> Descripción:</p>
                        <p class="content"> <%= product.description %> 
                        </p>
                    </div>
                    <div class="Botones"> 
                        <form action="/products/<%=product.id%>/edit"style="display: inline-flex" class="delete">
                            <button type="submit">Editar producto</button>
                        </form>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex" class="delete">
                            <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                    </div>
                </div> 
            </article>

            <div class="title-recom">
                <p class= "title-recom"> Tambien te puede gustar </p>
            </div>

            <div class="Recomendaciones">
                <% for( let index = 0; index < 4; index++ ) { %>
                    <article>
                        <a href="/products/<%= productList[index].id  %>">
                            <img src = "/images/products/<%= productList[index]['img-pr'] %>">
                        </a>
                        <p class="name"><%= productList[index].name %> </p>
                        <p class="price">$<%= productList[index].price %> </p>
                    </article>
                <% } %>
            </div>

        </main>

        <%- include('../partials/footer') %> 
    </body>
</html>