<!DOCTYPE html>
<html lang="es">
    <%- include( '../partials/head') %>
    
    <body>
    
        <%- include('../partials/header') %>
        <main class="charger">
            <div>
                <form action="?_method=PUT" method="POST" enctype="multipart/form-data">
                    <fieldset class="form-prod-char">
                        <legend class="legend-formulario">Editar producto</legend>
                        
                        <label for="name">Nombre
                            <input type="text" id = "name" value="<%=product.name %>" name="name">
                        </label>
                            
                        
                        <label for="price">Precio
                            <input type="number" id="price" name="price" value="<%=product.price %>">
                        </label>
                        
                        
                        <label for="category">Categoria: 
                            <select name="catedory" id="category">
                            <option value="Blusas">Blusas</option>
                            <option value="Remeras">Remeras</option>
                            <option value="Vestidos">Vestidos</option>
                            <option value="Monos">Monos</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Faldas">Faldas</option>
                            <option value="Jeans">Jeans</option>
                            </select>
                         </label>

                       
                        <label for="color">Colores: 
                            <div class="color">
                                <div class="check-c-s">
                                    <input type="checkbox" is="color" value="red"> Rojo
                                </div>
                                <div class="check-c-s">
                                    <input type="checkbox" is="color" value="blue"> Azul
                                </div>
                                <div class="check-c-s">
                                    <input type="checkbox" is="color" value="green"> Verde
                                </div>
                                <div class="check-c-s">
                                    <input type="checkbox" is="color" value="balck"> Negro
                                </div>
                                <div class="check-c-s">
                                    <input type="checkbox" is="color" value="white"> Blanco
                                </div>
                            </div>
                        </label>
                        
                        <label for="sizes">Talles:
                            <div class="checkbox-input">
                                <div class="check-c-s">
                                    <input name="sizes" id="sizes" type="checkbox" value="XS"> XS
                                </div>
                                <div class="check-c-s">
                                    <input name="sizes" id="sizes" type="checkbox" value="S"> S
                                </div>
                                <div class="check-c-s">
                                    <input name="sizes" id="sizes" type="checkbox" value="M"> M
                                </div>
                                <div class="check-c-s">
                                    <input name="sizes" id="sizes" type="checkbox" value="L"> L
                                </div>
                                <div class="check-c-s">
                                    <input name="sizes" id="sizes" type="checkbox" value="XL"> XL
                                </div>
                            </div>
                        </label>

                        <label for="image">Imagen principal:
                            <img src="/images/products/<%= product['img-pr'] %>" alt="" width="50px">
                            <input type="file" name="image" id="image">
                        </label>
                        <label for= "imgSec"> Marcar imagenes que se quedaran:
                            <div class="color">
                                <% for (let i =0; i< product['img-se'].length; i++){ %>
                                    <div class="check-c-s">
                                        <img src="/images/products/<%=product['img-se'][i]%>" width="50px">
                                        <input type="checkbox" name ="imgSec" value="<%=product['img-se'][i]%>"> 
                                    </div>
                                <% } %>
                            </div>
                        </label>
                        <label for="images">Imagenes secundarias:
                            <input type="file" name="images" id="images" multiple>
                        </label>

                        <label for="description">Descripción: 
                            <textarea name="description" id="description" cols="30" rows="5" class="description"><%=product.description%></textarea>
                        </label>

                        <div class="bt">
                            <input type="submit" value="Editar">
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>


        <%- include('../partials/footer') %> 
    </body>  